/* Reset.css */
/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
* {
    margin: 0;
}

/* Improves text rendering */
html {
    scroll-behavior: smooth;
    --webkit-text-size-adjust : 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

/* Better media defaults */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;

}

/* Links */
a {
    color: inherit;
    /* text-decoration: none; */
}

/* Button */
button, a, i {
    cursor:pointer;
}