*,
::before,
::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

/* Improves the text reading */

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}


/* Better media Defaults */

img,Picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}

/* Links */

a {
    color: inherit;
    text-decoration: none;
}






