header{
    background-color: #99ff33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

header h1{
    margin: 0;
}

header h1 img{
    width: 100px;
    max-width: 100%;
    height: auto;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


header nav ul li a:hover {
    color: red;
}

.login-btn {
    width: 100px;
    height: 40px;
    background-color: red;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-btn i {
    margin-left: 6px;
}

.login-btn:hover {
    background-color: black;
    color: red;
}


.btn {
    background:red;
     color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(255,87, 34, 0.5);
    transition: all 0.3s ease;
}

.btn:hover {
    background:black;
  color: red;
  transform: rotateY(-5px);
  box-shadow: 0px 5px 10px rgba(88, 87, 87, 0.7);
}

.btn:active {
    transform: rotateY(2px);
    box-shadow: 0px 5px 10px rgba(68, 66, 66, 0.4);
}